<h1><%= @event.title%></h1>
<p><strong>Description:</strong> <%= @event.description %></p>
<p><strong>Date:</strong> <%= @event.date %></p>
<p><strong>Owner:</strong> <%= @event.user.f_name %> <%= @event.user.l_name %></p>

<% if @is_owner %>
	<%= link_to "Delete", event_path(@event), method: :delete, data: {confirm: "Delete the event?"}, :class => "btn btn-dark" %>
	<%= link_to "Edit", edit_event_path(@event), :class => "btn btn-dark" %>
<% elsif current_user != nil %>
	<%= link_to "Join Event", event_user_path, method: :post, :class => "btn btn-dark"%>
<% end %>

<%= link_to "Return to events", events_path, :class => "btn btn-dark" %>
